body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-logo {
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  background: linear-gradient(45deg, #0099ff 0%, #a033ff 25%, #ff5280 50%, #FF7062 75%, #ffff00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.app-footer {
  padding: 10px 20px;
  font-size: 14px;
}

.app-footer .right {
  float: right;
}
