.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv-list-item {
  display: flex;
  flex-grow: 1;
}

.cv-list-item img {
  width: 130px;
  height: 150px;
  object-fit: cover;
  border: 1px solid;
  margin-right: 20px;
}

.cv-list-item .content {
  flex-grow: 1;
  position: relative;
}

.cv-list-item .create-at {
  position: absolute;
  right: 0;
  top: 0;
  color: #999;
}

.cv-list-item .cv-name {
  margin-bottom: 0;
  color: #52c41a;
}

.cv-list-item .cv-name .normal {
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-weight: 400;
}

.cv-list-item .cv-note {
  font-style: italic;
  color: #999;
}

.cv-list-item .button-group {
  text-align: right;
}

.cv-list-item .ant-statistic-content {
  font-size: 16px;
}

.send-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
}

.send-container .receive-user {
  display: flex;
  align-items: center;
}
.send-container .receive-user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid #1890ff;
}
.send-container .receive-user div {
  font-size: 20px;
  font-weight: 500;
  color: #1890ff;
}
